.color{
    color: orange;  
}
body {
    font-family: 'Bebas Neue', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0%;
}
h1{
    font-size: 40px;
}
section{
    display: flex;
    margin-top: 120px;
}
.half-width{
    width: 50%;
    padding-left: 50px;
}
.half-width img {
    width: 70%;
}
.add-button{
    text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 30px;
  border-radius: 7px;
  font-weight: 600;
}
.top-banner{
    background-image: url(images/top-banner.png);
   background-repeat: no-repeat;
}
 .dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
 }
